<!DOCTYPE html>
<html>
<head>
    <title>Edit Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Edit Password</h1>
    <form action="/edit/{{ id }}" method="post">
        <label for="site_name">Site:</label>
        <input type="text" id="site_name" name="site_name" value="{{ site_name }}"><br>
        <label for="username">Username / Mail:</label>
        <input type="text" id="username" name="username" value="{{ username }}"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{ password }}"><br>
        <button type="submit">Save</button>
    </form>
    <a href="/view"><button> to Saved Passwords </button></a>
</body>
</html>
