<!DOCTYPE html>
<html>
<head>
    <title>View Passwords</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Saved Passwords</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Site Name</th>
                <th>Username</th>
                <th>Password</th>
                <th>Actions</th>
            </tr>
            {% for id, site_name, username, password in passwords %}
            <tr>
                <td>{{ id }}</td>
                <td>{{ site_name }}</td>
                <td>{{ username }}</td>
                <td>{{ password }}</td>
                <td>
                    <a href="/edit/{{ id }}"><button> Edit </button></a>
                    <a href="/delete/{{ id }}"><button> Delete </button></a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/" class="button"><button> New Password </button></a>
    </div>
</body>
</html>
